{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script>
    function closeSideframe() {
        try {
            window.top.CMS.$('.cms-sideframe-close').trigger('click.cms.sideframe');
        } catch(e) {}
    }

</script>
{% endblock %}


{% block object-tools-items %}
    {% if has_add_permission %}
        {% url 'admin:translate-app-in-bulk' as adjust_url %}
        <li><a target="_top" onclick="closeSideframe()" href="{{ adjust_url }}">{% trans "Translate in Bulk" %}</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}
